<div>
    <h3 class="todo-text{{#if inactive}} inactive{{/if}}">{{text}}</h3>
    <p class="todo-sub{{#if inactive}} inactive{{/if}}">Weeks until to-do is active again: {{weeksUntilNext}}</p>
    <button class="todo-delete">Delete</button>
</div>