<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105724869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105724869-1');
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="X没r's location, updated each Friday.">
  <meta name="keywords" content="xur,destiny,destinythegame,whereisxur,destiny 2,D2">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Where the Fuck is Xur?</title>
  <link rel="icon" type="image/png" href="/images/xur32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/xur16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&effect=anaglyph" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900|Raleway:900" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js" defer></script>

  <script src="/templates.js" defer></script>

  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="index.js" defer></script>
</head>

<body>
  <div class="content">
    <a href="index"><div class="logo"></div></a>
    <nav>
      <ul class="main-menu">
        <li><a href="index">X没r</a></li>
        <li><a href="spider">Spider</a></li>
        <li><a href="guides">Guides</a></li>
        <li><a href="todo">To-Do</a></li>
        <!--<li><a href="faq.html">FAQ</a></li>-->
      </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
      <div class="footer-top">
        <nav>
          <ul class="footer-menu">
            <li><a href="faq">FAQ</a></li>
            <li><a href="archives">Archives</a></li>
            <li><a href="privacy-policy">Privacy</a></li>
          </ul>
        </nav>
        <p>Are you a developer? Web designer? Drift-wood sculptor? <a href="https://en.wikipedia.org/wiki/Hype_man" target="blank">Hype Man</a> for an up-and-coming rapper? Want to work on the site and get weird? Join the scrappy go-getters in the <a href="https://discord.gg/Ut4qTZp" target="_blank">King of X没r</a> Discord. </p>
      </div>
      <div class="footer-bottom">King of X没r Team &nbsp; &nbsp; | &nbsp; &nbsp; Not safe for ya mama since 2015.</div>
    </footer>
    </div>
  </body>
</html>
