<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105724869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-105724869-1');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Xûr's location, updated each Friday.">
  <meta name="keywords" content="xur,destiny,destinythegame,whereisxur,destiny 2,D2">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Wherethefuckisxur.com</title>
  <link rel="icon" type="image/png" href="/images/xur32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/xur16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&effect=anaglyph" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900|Raleway:900" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="index.js"></script>
</head>

<body>
  <div class="content">
    <header>
      <a href="/"><div class="logo"></div></a>
      <nav>
        <ul class="main-menu">
          <li><a href="#xur">Xûr</a></li>
          <li><a href="spider">Spider</a></li>
          <li><a href="guides">Guides</a></li>
          <!--<li><a href="faq.html">FAQ</a></li>-->
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div id="xur">
          <h1>Okay you all already know Xur's gone for the week.</h1>
          <p class="xur-location-details">But does anyone actually know where he goes?  Does he chill with the nine?  Does he have a house?  This stuff keeps me up at night man.</p>
          <p class="last-updated">Updated Tuesday, 12/4</p>
          {{#xur}}
          <div class="xur-inventory white-box">
            <h3>Xûr's Inventory</h3>
            <ul id="xurinv">
              <img src="images/engram.png" width="25px;"/>
              <li>
                <span class="item">{{xurweapon}}</span><br/>
              </li>
              {{#xurarmor}}
              <img src="images/engram.png" width="25px;"/>
              <li>
                <span class="item">{{name}} ({{class}})</span><br/>
                {{#perks}}
                <span class="item-perk">{{name}}</span><br>
                <span class="perk-desc">{{desc}}</span><br/>
                {{/perks}}
              </li>
              {{/xurarmor}}
            </ul>
          </div>
          {{/xur}}

          <div class="hotline white-box">
            <h3>Xûr Hotline</h3>
            <p class="flavor-text">Mind and spirit. Call now and hear the future. <br/>Xûr has the answers you seek. It's an answering machine. Leave a goddamn message. </p>
            <h4><a class="hotline-number" href="tel:1-414-436-9013">1 (414) 436-9013</a></h4>
          </div>
        </div>

        <div class="not-xur">
          <div class="spider-home white-box">
            <h3>Big Fat Fallen</h3>
            <p class="flavor-text">sellin' some planet mats</p>
            <ul id="spiderinv">
              {{#spiderinventory}}
              <li>
                <span class="item">{{name}}</span><br/>
                <span class="item-description">{{cost}}</span>
              </li>
              {{/spiderinventory}}
            </ul>
          </div>

          <div class="banshee white-box">
            <h3>Banshee Mods</h3>
            <p class="flavor-text"></p>
            <ul id="bansheeinv">
              {{#bansheeinventory}}
              <li>
                <span class="item">{{name}}</span><br/>
                <span class="item-description">{{desc}}</span>
              </li>
              {{/bansheeinventory}}
            </ul>
          </div>

          <div class="dailies white-box">
            <h3>Dailies</h3>
            <p class="flavor-text"></p>
            <ul id="dailies">
              {{#dailies}}
              <li class="dailies-today item">{{current}}</li>
              <li class="dailies-and-then">And then...</li>
              {{#next}}
              <li class="dailies-future sub-item">{{daily}}</li>
              {{/next}}
              {{/dailies}}
            </ul>
          </div>

          <div class="news">
            <h5 class="line-header">What The Fuck is New?</h5>
            <p>Jonathan has been hard at work trying to not fail his web dev final project!</p>
            <p>
              <ul>
                <li>New todo feature!</li>
                <li>Express based backend!</li>
                <li>Hi Professor Hess!</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-top">
        <nav>
          <ul class="footer-menu">
            <li><a href="faq">FAQ</a></li>
            <li><a href="archives">Archives</a></li>
            <li><a href="privacy-policy">Privacy</a></li>
          </ul>
        </nav>
        <p>Are you a developer? Web designer? Drift-wood sculptor? <a href="https://en.wikipedia.org/wiki/Hype_man" target="blank">Hype Man</a> for an up-and-coming rapper? Want to work on the site and get weird? Join the scrappy go-getters in the <a href="https://discord.gg/Ut4qTZp" target="_blank">King of Xûr</a> Discord. </p>
      </div>
      <div class="footer-bottom">King of Xûr Team &nbsp; &nbsp; | &nbsp; &nbsp; Not safe for ya mama since 2015.</div>
    </footer>
  </div>
</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'a2plcpnl0294'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>
