<div class="login">
    <h3 class="login-text">Login to Battle.Net to use this feature!</h3>
    <div class="login-link">
        <a class="login-link-text" href="https://www.bungie.net/en/oauth/authorize?client_id={{clientid}}&response_type=code&state=asdf">Login</a>
    </div>
</div>