/* * * * * COLORS * * * * * */

.light-gray {
  color:#dfe4e5;
}

.mid-gray {
  color:#c2cacc;
}

.dark-gray {
  color:#5f6f72;
}

/* * * * * GENERAL STYLES * * * * * */

html {
  -webkit-backface-visibility: visible;
}

body {
  background-color: #f2f2f2;
  margin:0px;
  padding:0px;
  -webkit-backface-visibility: visible;
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding-top: 10px;
  color: #333;
  width:100%;
  font-weight:400;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding:10px 0 30px;
}

a {
  color:#248ea2;
  text-decoration:none;
}

a:hover {
  color:#f4b400;
}

.center {
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  color:#333;
  text-transform:uppercase;
  letter-spacing:1px;
  line-height:1em;
}

h1 {
  font-size:2em;
  text-align:center;
  margin-bottom:5px;
  text-align:center;
}

.button {
  width:100%;
  text-align:center;
  border:1px solid #5f6f72;
  background:#dfe4e5;
  padding:10px 0px;
  text-transform:uppercase;
  font-size:1.2em;
  font-weight:600;
}

/* * * * * MENU STYLES * * * * * */

.logo {
  width:50%;
  height:200px;
  background:url('wtfix.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  margin: auto;
}

nav .main-menu {
  border-top:1px solid #5f6f72;
  border-bottom:1px solid #5f6f72;
  margin-top:10px;
  background:#dfe4e5;
  padding:10px 0px;
}

nav a {
  text-decoration:none;
  color:#333;
}

nav a:hover, nav a:active {
  color:#1d9db5;
}

.main-menu {
  list-style:none;
  padding:0px;
  text-align:center;
  margin:0px;
}

.main-menu li {
  display:inline;
  padding:0px 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-right:1px solid #5f6f72;
  line-height:1.5em;
}

.main-menu li:first-child {
  border-left:1px solid #5f6f72;;
}

/* * * * * FOOTER STYLES * * * * */

.footer-top {
  font-weight: 300;
  background-color: #dfe4e5;
  color: #333;
  border-top:1px solid #5f6f72;
  padding:40px 0px;
  text-align:center;
}

.footer-top p {
  max-width:700px;
  margin:auto;
}

.footer-bottom {
  font-weight: 300;
  background-color: #5f6f72;
  color: #fff;
  font-size:.7em;
  padding:15px 0px;
  text-align:center;
  line-height:1.3em;
}

nav .footer-menu {
  padding:0px 0px 20px;
}

.footer-menu {
  list-style:none;
  padding:0px;
  text-align:center;
  margin:0px;
}

.footer-menu li {
  display:inline;
  padding:0px 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-right:1px solid #5f6f72;
  line-height:1.5em;
}

.footer-menu li:first-child {
  border-left:1px solid #5f6f72;;
}

/* * * * * LAYOUT STYLES / HOMEPAGE * * * * * */

#xur {
  width:60%;
  display:inline-grid;
}

.not-xur {
  width:35%;
  display:inline-grid;
  padding-left:4%;
}

.white-box {
  margin:0 0 30px;
  border:1px solid #5f6f72;
  padding:20px;
  background:#fff;
  text-align:center;
}

.white-box li {
  margin-bottom:10px;
}

.white-box ul {
  list-style:none;
  margin-left:0px;
  padding-left:0px;
}

.white-box h3, .white-box h2, .white-box h1 {
  font-size:1.7em;
  margin:0px;
  color:#333;
}

.white-box .flavor-text, .flavor-text {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

.line-header {
  color:#333;
  margin:0px;
  padding-bottom:10px;
  border-bottom:2px solid #c2cacc;
  text-transform:capitalize;
  font-size:2em;
  color:#5f6f72;
}

.white-box .item {
  margin:0px;
  text-transform:uppercase;
  font-weight:600;
  font-size:1.2em;
  color: #5f6f72;
}

.item-perk {
  text-transform:none;
  font-size:1em;
  color:#333;
  font-weight:400;
}

.sub-item {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.spider-home ul, .banshee ul, .dailies ul, .nightfall ul {
  text-align:left;
}

.dailies-today {
  padding-bottom:10px;
}

.dailies-and-then {
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
}

.guides p {
  font-size:1.2em;
}

.privacy-policy {
  max-width:700px;
  margin:auto;
}

.last-updated {
  font-size:.7em;
  text-align:right;
  font-style:italic;
  color:#5f6f72;
}

/* * * * * XUR STYLES * * * * */

.xur-inventory {
  margin-top:10px;
}

.xur-location-details {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

#xurinv .item-perk {
  font-weight:600;
  text-align:left;
}

#xurinv .perk-desc {
  text-align:left;
}

#xurinv li {
  border-bottom: 2px solid #c2cacc;
  padding-bottom:15px;
}

#xurinv li:last-child  {
  border-bottom: 0px;
  padding-bottom: 0px;
}

#xurinv {
  padding: 0px 20px;
}

/* * * * * HOTLINE STYLES * * * * * */

.hotline h3 {
  font-size:2em;
}

.hotline-number {
  text-align:center;
  font-size:2.5em;
  margin:10px 0;
}

.hotline-number a {
  color:#248ea2;
  text-decoration:none;
}

.hotline-number a:hover {
  color:#f4b400;
  text-decoration:none;
}

/* * * * * FUN SHIT STYLES * * * * */

.mara-certificate {
  width:100%;
  margin:5px 0 20px;
}

.fun-shit h5 {
  line-height:1.3em;
  font-size:1em;
}

.quiz-results {
  margin-bottom: 30px;
}

/* * * * * SPIDER STYLES * * * * * */

.spider-home, .spider, .spider-inventory {
  margin-top:30px;
}

.spider-inventory ul {
  text-align:center;
}

/* * * * * GUIDE, FAQ, ARCHIVES STYLES * * * * * */

.wanted-list p, .a-challenges p, .guide-list p {
  border-bottom:2px solid #c2cacc;
  margin-top:5px;
  padding-bottom:20px;
}

.wanted-list h2, .a-challenges h3, .no-line-header, .guide-list h3 {
  color:#333;
  margin:0px;
  padding-bottom:0px;
  text-transform:capitalize;
  font-size:1.7em;
  color:#5f6f72;
  line-height:1em;
}

.guide-section, .archive-section {
  padding-top:30px;
}

.current-ascendant {
  text-align:center;
  font-size:1.5em;
  margin:0px;
}

.guide-text.flavor-text {
  border-bottom:0px;
}

.faq-list {
  margin-top:20px;
}

.faq-list .line-header {
  margin-top:30px;
}

/* * * * * GUIDE MENU STYLES * * * * * */

div.guides-container {
  display: inline-grid;
  width: 65%;
  padding-left: 30px;
}

.guide-menu {
  display: inline-grid;
  margin: 30px 0 0;
  width: 25%;
  position: sticky;
  top: 30px;
  height: 50%;
  overflow: auto;
  border:1px solid #5f6f72;
  background:#dfe4e5;
  padding:10px 20px;
}

.guide-menu a {
  display: block;
  color: #333;
  padding: 15px 0px;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  border-bottom:1px solid #5f6f72;
}

.guide-menu a:last-child {
  border-bottom:0px;
}

.guide-menu a:hover, .guide-menu a:active {
  color:#1d9db5;
}

/* * * * * LOGIN SCREEN STYLES * * * * * */

.login {
  text-align: center;
  display: block;
}

.login-text {
  margin-bottom: 2em;
}

.login-link {
  background-color: #f2f2f2;
  border-style: solid;
  border-color: #5f6f72;
  text-transform: uppercase;
  font-size: 1.25em;
  padding: 0.5em;
  width: fit-content;
  margin: auto;
}

.login-link-text {
  color: #5f6f72;
}

.login-link:hover {
  cursor: pointer;
  background-color: #dfe4e5;
}

.login-link-text:hover {
  color: #5f6f72
}

/* * * * * TO-DO STYLES * * * * * */

.todo-text {
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.5em;
}

.todo-sub {
  margin-top: 0.5em;
  font-style: italic;
  margin-bottom: 0.5em;
}

.todo-text.inactive {
  color: #858f91;
  font-style: italic;
}

.todo-sub.inactive {
  color: #808080;
}

.todo-delete {
  background-color: #f2f2f2;
  color: #5f6f72;
  border: none;
  width: fit-content;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1.5em;
  font-style: italic;
}

.todo-delete:hover {
  text-decoration: underline;
}

.todo-delete:focus {
  outline: none;
}

.show-inactive {
  background-color: #f2f2f2;
  color: #5f6f72;
  border-style: solid;
  border-color: #5f6f72;
  text-transform: uppercase;
  padding: 0.5em;
  margin-top: 1em;
}

.show-inactive:hover {
  cursor: pointer;
  background-color: #dfe4e5;
}

.show-inactive:focus {
  outline: none;
}

.add-todo {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding-top: 10px;
  color: #333;
  width:100%;
  font-weight:400;
  text-transform: uppercase;
  background-color: #dfe4e5;
  border: none;
  text-align: left;
  padding: 15px 0;
  border-bottom: 1px solid #5f6f72;
  font-weight: 600;
}

.add-todo:hover {
  color: #248ea2;
  cursor: pointer;
}

.add-todo:focus {
  outline: none;
}

#add-todo {
  border-bottom: 1px solid #5f6f72;
  padding-bottom: 10px;
}

.todo-input-text {
  margin: 10px 0;
}

.todo-input-field {
  background-color: #dfe4e5;
  border: 1px solid #5f6f72;
  padding: 0.25em;
  font-size: 1.1em;
}

.todo-confirm {
  margin-top: 15px;
  background-color: #dfe4e5;
  border: none;
  color: #333;
  font-size: 1em;
  padding: 0;
}

.todo-confirm:hover {
  text-decoration: underline;
  cursor: pointer;
}

.todo-confirm:focus {
  outline: none;
}

.hidden {
  display: none;
}

/* On screens that are less than 700px wide, make the menu into a topbar */
@media screen and (max-width: 700px) {
  .guide-menu {
    width: 100%;
    height: auto;
    position: relative;
    padding:20px 0;
  }

  .guide-menu a {
    float: left;
    border-bottom:0px;
    border-right:1px solid #5f6f72;
    padding:0 15px;
    text-align:center;
  }

  .guide-menu a:last-child {
    border-right:0px;
  }

  div.guides-container {
    margin-left: 0;
    padding-left: 0;
    width:60%;
  }
}

/* On screens that are less than 400px, display the menu vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .guide-menu a {
    text-align: center;
    float: none;
    margin:0px;
    border-bottom:1px solid #5f6f72;
    border-right:0px;
    padding: 15px 0px;
  }

  .guide-menu {
    width:100%;
    padding:0px;
    margin-bottom:30px;
    margin-top:0px;
  }

  div.guides-container {
    width:100%;
  }
}


/* * * * * MAIN MEDIA QUERIES * * * * */

@media (min-width:320px) and (max-width:640px) {
/* smartphones, iPhone, portrait 480x320 phones */

.logo {
  width:60%;
  height:150px;
  background:url('wtfix.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  margin: auto;
}

.content {
  padding-top: 20px;
}

.container {
  padding:10px 30px 30px;
}

.hotline-number {
  text-align:center;
  font-size:1.8em !important;
  margin:0px;
}

.hotline p {
  font-size:1.2em !important;
  margin-bottom:10px;
}

#xur {
  width:100%;
  display:block;
}

.not-xur {
  width:100%;
  display:block;
  padding-left:0;
}

.guide-menu a {
  text-align: center;
  float: none;
  margin:0px;
  border-bottom:1px solid #5f6f72;
  border-right:0px;
  padding: 15px 0px;
}

.guide-menu {
  width:100%;
  padding:0px;
  margin-bottom:30px;
  margin-top:0px;
}

div.guides-container {
  width:100%;
}

}

@media (min-width:641px) and (max-width:780px) {
/* portrait tablets, portrait iPad, landscape e-readers,
landscape 800x480 or 854x480 phones */

.disappear-on-tablet {
  display:none;
}

.appear-on-tablet {
  display:visible;
}

#xur {
  width:100%;
  display:block;
}

.not-xur {
  width:100%;
  display:block;
  padding-left:0;
}

.container {
  padding:10px 30px 30px;
}

div.guides-container {
  width:60%;
}

}

@media (min-width:961px) {
/* tablet, landscape iPad, lo-res laptops ands desktops */

.container {
  padding:10px 30px 30px;
}

}

@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
/* hi-res laptops and desktops */

}
